/* http://meyerweb.com/eric/tools/css/reset/ 
 * * v2.0 | 20110126
 * * License: none (public domain) */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

a {
  color: unset;
  text-decoration: none;
}

body {
  background-color: #020202;
}

img {
  width: 100%;
  display: block;
}
img.invert {
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

span {
  display: block;
}

button > * {
  pointer-events: none;
}

.dn {
  display: none;
}

@media (max-width: 425px) {
  .mobile {
    display: block;
  }
}
.opacity-0 {
  opacity: 0;
}

.wrap {
  width: 100%;
  max-width: 1920px;
  font-family: "Noto Sans TC", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
@media (max-width: 425px) {
  .wrap {
    max-width: 425px;
  }
}

:where(.wrap) > div {
  width: 67.5vw;
  margin: 0 auto;
}
@media (max-width: 425px) {
  :where(.wrap) > div {
    width: 100%;
    padding: 0 12px;
    min-width: 351px;
  }
}

.header {
  height: 80px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.header .header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.header .header-logo h1 {
  position: absolute;
  z-index: -1;
  font-size: 0;
  opacity: 0;
}
.header .header-logo img {
  height: 40px;
}
.header .header-logo img:first-child {
  margin-right: 16px;
}
@media (max-width: 425px) {
  .header .header-logo img {
    height: 24px;
  }
}
@media (max-width: 425px) {
  .header {
    position: fixed;
    top: 0;
    background-color: #020202;
    z-index: 2;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav a {
  color: #ffffff;
  padding: 16px 0;
  transition: 0.2s all;
}
.header-nav a:first-child {
  margin-right: 20px;
}
.header-nav a:hover {
  color: #919191;
}
@media (max-width: 425px) {
  .header-nav {
    display: none;
  }
}

.burger-btn {
  margin-right: 11px;
}
.burger-btn .active {
  display: block;
}
@media (max-width: 425px) {
  .burger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobile-burger-nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #020202;
  flex-direction: column;
  top: 80px;
  left: 0px;
}
.mobile-burger-nav.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-burger-nav .burger-link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobile-burger-nav .burger-link a {
  font-weight: 900;
  font-size: 80px;
  line-height: 1.2;
}
.mobile-burger-nav .burger-footer {
  width: 100%;
  border-top: 1px solid #ffffff;
  padding: 32px 12px;
}
.mobile-burger-nav .burger-footer span, .mobile-burger-nav .burger-footer a {
  font-weight: 700;
  margin-right: 20px;
}
.mobile-burger-nav .burger-footer > span {
  margin-bottom: 24px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #ffffff;
  padding: 80px 0px;
}
@media (max-width: 425px) {
  .footer-nav {
    flex-direction: column-reverse;
  }
}
.footer-nav .footer-nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.footer-nav .footer-nav-link a {
  font-weight: 900;
  font-size: 80px;
  line-height: 1.2;
  color: #ffffff;
  transition: 0.3s all;
}
.footer-nav .footer-nav-link a:first-child {
  margin-bottom: 8px;
}
.footer-nav .footer-nav-link a:hover {
  color: #919191;
}
@media (max-width: 425px) {
  .footer-nav .footer-nav-link a {
    font-size: 48px;
  }
}

.footer-nav-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.footer-nav-logo h1 {
  position: absolute;
  z-index: -1;
  font-size: 0;
  opacity: 0;
}
@media (max-width: 425px) {
  .footer-nav-logo {
    margin-bottom: 40px;
  }
}
.footer-nav-logo img {
  height: 40px;
  margin-right: 14px;
}

.footer-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffffff;
  padding: 32px 0px;
  font-weight: 700;
}
.footer-about .footer-about-cc {
  margin-right: 100px;
}
.footer-about .footer-about-cc a {
  color: #ffffff;
  transition: 0.3s all;
}
.footer-about .footer-about-cc a:hover {
  color: #919191;
}
.footer-about .footer-about-sns {
  flex-grow: 2;
}
.footer-about .footer-about-sns a {
  padding: 10px;
}
.footer-about .footer-about-to-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.footer-about .footer-about-to-top span {
  margin-right: 12px;
}
@media (max-width: 425px) {
  .footer-about {
    flex-wrap: wrap;
  }
  .footer-about .footer-about-cc {
    order: 1;
    margin-bottom: 24px;
  }
  .footer-about .footer-about-sns {
    order: 3;
  }
  .footer-about .footer-about-sns a:first-child {
    padding-left: 0px;
  }
  .footer-about .footer-about-to-top {
    order: 2;
    flex-grow: unset;
    margin-bottom: 24px;
  }
}

@keyframes FadeToTop {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.app-section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  color: #020202;
  padding: 160px 0px;
  border-radius: 160px;
  overflow: hidden;
}
.app-section > * {
  width: 67.5%;
  min-width: 1296px;
}
.app-section .app-title {
  font-weight: 900;
  font-size: 80px;
  line-height: 1.2;
  margin-bottom: 80px;
}
@media (max-width: 425px) {
  .app-section {
    border-radius: 20px;
    padding: 80px 0px;
  }
  .app-section > * {
    width: 100%;
    min-width: 351px;
    padding: 0 12px;
  }
  .app-section .app-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
  }
}
.app-section .app-search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  min-height: 64px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
}
.app-section .app-search-bar > * {
  padding: 20px 0px;
}
.app-section .app-search-bar label {
  cursor: text;
}
.app-section .app-search-bar label span {
  padding: 0px 15.5px 0px 45px;
  color: #919191;
}
.app-section .app-search-bar input {
  background: #f2f2f2;
  border: none;
  width: 100%;
  color: #020202;
  font-size: 16px;
  line-height: 1.5;
}
.app-section .app-search-bar input::placeholder {
  color: #919191;
}
.app-section .app-search-bar input:focus {
  outline: none;
}
@media (max-width: 425px) {
  .app-section .app-search-bar {
    width: calc(100% - 24px);
    margin-bottom: 16px;
  }
}

.app-sort-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.app-sort-bar button {
  font-family: "Noto Sans TC", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  padding: 20px 40px;
  font-size: 16px;
  line-height: 1.5;
  color: #020202;
}
.app-sort-bar button:hover {
  border: 1px solid #020202;
}
.app-sort-bar button span:first-child {
  margin-right: 12px;
}
.app-sort-bar li {
  cursor: pointer;
}
.app-sort-bar li:hover {
  background-color: #f2f2f2;
}
.app-sort-bar .feature-sort-bar .feature-sort-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-sort-bar .feature-sort-bar button {
  padding: 8px 16px;
  margin-right: 8px;
  border: 0px;
  color: #919191;
}
.app-sort-bar .feature-sort-bar button:last-child {
  margin-right: 0;
}
.app-sort-bar .feature-sort-bar button:hover, .app-sort-bar .feature-sort-bar button.active {
  background-color: #f2f2f2;
  color: #020202;
  font-weight: 700;
}
.app-sort-bar .feature-sort-bar button.active {
  font-weight: 700;
}
@media (max-width: 425px) {
  .app-sort-bar {
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
  .app-sort-bar .detail-sort-list-block {
    order: 1;
  }
  .app-sort-bar .time-sort-block {
    order: 2;
  }
  .app-sort-bar .feature-sort-bar {
    order: 3;
    overflow-x: scroll;
  }
  .app-sort-bar .feature-sort-bar::-webkit-scrollbar {
    display: none;
  }
  .app-sort-bar .feature-sort-bar .feature-sort-filter {
    display: block;
    width: 524px;
    padding: 16px 0px;
  }
  .app-sort-bar .feature-sort-bar .feature-sort-filter button {
    display: inline-block;
    margin-right: auto;
  }
}

.detail-sort-list-block {
  position: relative;
}
.detail-sort-list-block .active {
  display: block;
  opacity: 1;
}
.detail-sort-list-block .sorted-options {
  width: 24px;
  height: 24px;
  font-size: 12px;
  border-radius: 4px;
  background-color: #020202;
  color: #ffffff;
}
.detail-sort-list-block .sorted-options.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-sort-list-block .detail-sort-block {
  position: absolute;
  top: 70px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.detail-sort-list-block .detail-sort-block span:not(.material-icons) {
  color: #919191;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  padding-top: 20px;
  margin-bottom: 8px;
  margin-left: 40px;
}
.detail-sort-list-block .detail-sort-block span:not(.material-icons).pt-24 {
  padding-top: 24px;
  border-top: 1px solid #f2f2f2;
}
.detail-sort-list-block .detail-sort-block li {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 4px 32px 4px 40px;
}
.detail-sort-list-block .detail-sort-block li span {
  pointer-events: none;
}
@media (max-width: 425px) {
  .detail-sort-list-block .detail-sort-block li {
    width: calc(100vw - 24px);
  }
}
.detail-sort-list-block .detail-sort-block .type-option:last-child {
  margin-bottom: 20px;
}

.time-sort-block {
  position: relative;
}
.time-sort-block .time-sortlist {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 16px 0px;
}
.time-sort-block .time-sortlist.active {
  display: block;
  opacity: 1;
}
.time-sort-block .time-sortlist .time-option {
  text-align: center;
  padding: 4px 40px;
}
.time-sort-block .time-sortlist .time-option:first-child {
  margin-bottom: 8px;
}

.product-cardlist {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
@media (max-width: 425px) {
  .product-cardlist {
    display: block;
  }
}

.product-card {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 416px;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
}
.product-card .card-img-section {
  overflow: hidden;
  margin-bottom: 20px;
}
.product-card .card-img-section img {
  object-fit: cover;
  transition: 0.5s;
}
.product-card:hover img {
  transform: scale(1.1, 1.1);
}
@media (max-width: 425px) {
  .product-card {
    width: 100%;
    margin-bottom: 12px;
  }
  .product-card .card-img-section img:hover {
    transform: unset;
  }
}

.product-card-text {
  flex-grow: 1;
}
.product-card-text h3 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 12px;
  padding: 0 32px;
}
.product-card-text p {
  font-size: 14px;
  color: #525252;
  padding: 0 32px;
  padding-bottom: 20px;
}
.product-card-text p.pb-42 {
  padding-bottom: 42px;
}

.product-card-info > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  border-top: 1px solid #f2f2f2;
}

.card-type-and-author span:first-child {
  font-weight: 700;
}

.card-tag a {
  color: #020202;
  transition: 0.3s;
}
.card-tag a:hover {
  transform: scale(1.2, 1.2);
}

.page-bar {
  width: 67.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.page-bar button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  background-color: #ffffff;
  color: #020202;
  border: none;
  border-radius: 16px;
  margin-right: 4px;
  cursor: pointer;
}
.page-bar button:hover {
  background-color: #525252;
  color: #ffffff;
}
.page-bar button.active {
  background-color: #020202;
  color: #ffffff;
}

@media (max-width: 425px) {
  .landing-section {
    margin-top: 120px;
  }
}
.landing-section .landing-title {
  font-weight: 900;
  font-size: 120px;
  line-height: 1.2;
  margin-bottom: 40px;
}
@media (max-width: 425px) {
  .landing-section .landing-title {
    font-size: 48px;
  }
}
.landing-section .landing-start-btn {
  font-family: "Noto Sans TC", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020202;
  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  border: 1px solid #ffffff;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s all;
  padding: 20px 40px;
  margin-bottom: 100px;
}
.landing-section .landing-start-btn:hover {
  background-color: #f2f2f2;
  color: #020202;
  box-shadow: 0px 0px 3px #919191;
  transform: scale(1.05, 1.05);
}
@media (max-width: 425px) {
  .landing-section .landing-start-btn {
    margin-bottom: 180px;
  }
}
.landing-section .landing-animation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 160px;
  overflow: hidden;
}
.landing-section .landing-animation img {
  width: unset;
  animation: FadeToTop 5s ease-in-out infinite;
}
.landing-section .landing-animation img.img1 {
  animation-delay: -1.5s;
}
.landing-section .landing-animation img.img2 {
  animation-delay: -3s;
}
.landing-section .landing-animation img.img3 {
  animation-delay: -4.5s;
}
@media (max-width: 425px) {
  .landing-section .landing-animation {
    width: unset;
    margin-bottom: 120px;
  }
  .landing-section .landing-animation img {
    width: 33%;
  }
}
.landing-section .landing-service-title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  margin-bottom: 80px;
}
.landing-section .landing-service-title span {
  font-size: 32px;
  line-height: 1.2;
  flex: 30%;
  margin-right: 24px;
}
.landing-section .landing-service-title p {
  font-size: 48px;
  line-height: 1.2;
  flex: 70%;
}
@media (max-width: 425px) {
  .landing-section .landing-service-title {
    display: block;
    width: calc(100vw - 24px);
    margin-bottom: 48px;
  }
  .landing-section .landing-service-title span {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .landing-section .landing-service-title p {
    font-size: 32px;
  }
}

.landing-service-cardlist {
  display: flex;
  justify-content: space-between;
  align-items: strech;
  margin-bottom: 160px;
}
.landing-service-cardlist .service-card {
  width: 32%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 80px 40px;
  border: 1px solid #525252;
  border-radius: 16px;
}
.landing-service-cardlist .service-card span:first-child {
  font-size: 80px;
  margin-bottom: 20px;
}
.landing-service-cardlist .service-card span {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.landing-service-cardlist .service-card p {
  color: #f2f2f2;
}
@media (max-width: 425px) {
  .landing-service-cardlist {
    display: block;
    margin-bottom: 120px;
  }
  .landing-service-cardlist .service-card {
    width: 100%;
    padding: 40px 20px;
    margin-bottom: 12px;
  }
  .landing-service-cardlist .service-card:last-child {
    margin-bottom: unset;
  }
}

.landing-section .landing-sponsor {
  margin-bottom: 160px;
}
.landing-section .landing-sponsor span {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 80px;
}
.landing-section .landing-sponsor .sponsor-img img:first-child {
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .landing-section .landing-sponsor {
    position: relative;
    margin-bottom: 48px;
  }
  .landing-section .landing-sponsor span {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .landing-section .landing-sponsor .sponsor-img {
    overflow-x: scroll;
  }
  .landing-section .landing-sponsor .sponsor-img img {
    width: unset;
  }
  .landing-section .landing-sponsor .sponsor-img::-webkit-scrollbar {
    display: none;
  }
  .landing-section .landing-sponsor::before, .landing-section .landing-sponsor::after {
    content: "";
    width: 20%;
    height: 110px;
    display: block;
    position: absolute;
    z-index: 1;
  }
  .landing-section .landing-sponsor::before {
    background: linear-gradient(90deg, #020202 0%, #020202 30%, rgba(0, 0, 0, 0) 100%);
    top: 48px;
    left: 0;
  }
  .landing-section .landing-sponsor::after {
    background: linear-gradient(270deg, #020202 0%, #020202 30%, rgba(0, 0, 0, 0) 100%);
    top: 48px;
    right: 0;
  }
}

.landing-comment-cardlist {
  display: flex;
  justify-content: space-between;
  align-items: strech;
  margin-bottom: 120px;
}
@media (max-width: 425px) {
  .landing-comment-cardlist {
    display: block;
  }
}

.comment-card {
  width: 32%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 40px;
}
.comment-card .card-star {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.comment-card .card-star span {
  font-size: 13.33px;
  margin-right: 4px;
}
.comment-card p {
  min-height: 210px;
  color: #f2f2f2;
  margin-bottom: 20px;
}
.comment-card .card-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.comment-card .card-info img {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.comment-card .card-info .user-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.comment-card .card-info .user-info span:first-child {
  margin-bottom: 4px;
  font-weight: 700;
}
.comment-card .card-info .user-info span:last-child {
  font-size: 14px;
}
@media (max-width: 425px) {
  .comment-card {
    width: unset;
  }
  .comment-card p {
    min-height: 144px;
  }
}

.promote-section {
  padding: 160px 0px 180px 0px;
}
.promote-section p {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 40px;
}
.promote-section .app-start-btn {
  font-family: "Noto Sans TC", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020202;
  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  border: 1px solid #ffffff;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s all;
  margin: 0 auto;
  padding: 20px 40px;
}
.promote-section .app-start-btn:hover {
  background-color: #f2f2f2;
  color: #020202;
  box-shadow: 0px 0px 3px #919191;
  transform: scale(1.05, 1.05);
}
.promote-section .app-start-btn span:first-child {
  margin-right: 12px;
}
@media (max-width: 425px) {
  .promote-section {
    padding-bottom: 160px;
  }
  .promote-section p {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

@media (max-width: 425px) {
  .pricing-section {
    margin-top: 120px;
  }
}
.pricing-section .pricing-title {
  font-weight: 900;
  font-size: 120px;
  line-height: 1.2;
  margin-bottom: 80px;
}
.pricing-section .pricing-quote {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-left: 50%;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 238px;
}
.pricing-section .pricing-animation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 160px;
  overflow: hidden;
}
.pricing-section .pricing-animation img {
  width: unset;
  animation: FadeToTop 5s ease-in-out infinite;
}
.pricing-section .pricing-animation img.img1 {
  animation-delay: -1.5s;
}
.pricing-section .pricing-animation img.img2 {
  animation-delay: -3s;
}
.pricing-section .pricing-animation img.img3 {
  animation-delay: -4.5s;
}
.pricing-section .pricing-price .pricing-head {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 80px;
}
.pricing-section .pricing-price .pricing-price-cardlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 160px;
}
.pricing-section .pricing-price .pricing-price-cardlist > li {
  width: 49%;
  border: 1px solid #525252;
  border-radius: 16px;
  margin-bottom: 24px;
}
.pricing-section .pricing-price .pricing-price-cardlist > li:nth-child(n+3) {
  margin-bottom: 0;
}
@media (max-width: 425px) {
  .pricing-section .pricing-title {
    font-size: 48px;
  }
  .pricing-section .pricing-quote {
    font-size: 28px;
    padding-left: 40%;
    margin-bottom: 260px;
  }
  .pricing-section .pricing-animation {
    width: unset;
    margin-bottom: 120px;
  }
  .pricing-section .pricing-animation img {
    width: 33%;
  }
  .pricing-section .pricing-price .pricing-head {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .pricing-section .pricing-price .pricing-price-cardlist {
    display: block;
    margin-bottom: 120px;
  }
  .pricing-section .pricing-price .pricing-price-cardlist > li {
    width: unset;
    max-height: unset;
    margin-bottom: 12px;
  }
  .pricing-section .pricing-price .pricing-price-cardlist > li:nth-child(n+3) {
    margin-bottom: unset;
  }
  .pricing-section .pricing-price .pricing-price-cardlist > li:last-child {
    margin-bottom: 0;
  }
}

.price-card {
  display: flex;
  justify-content: space-between;
  align-items: strech;
  flex-direction: column;
  padding-top: 20px;
  min-height: 318px;
}
.price-card li {
  list-style: inside;
}
.price-card .pricing-engineer-introduce {
  padding: 0px 32px;
  flex-grow: 1;
}
.price-card .pricing-engineer-introduce span {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 12px;
}
.price-card .pricing-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  border-top: 1px solid #919191;
}
.price-card .pricing-info span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
}
.price-card .pricing-info > span {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
}
.price-card .pricing-info > span .tokens {
  font-weight: 400;
  color: #919191;
}
.price-card .pricing-info a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 425px) {
  .price-card {
    min-height: 240px;
  }
  .price-card .pricing-engineer-introduce {
    padding: 0px 20px;
  }
  .price-card .pricing-info {
    padding: 20px;
  }
}

.pricing-rule {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.2;
  margin-bottom: 160px;
}
.pricing-rule span {
  font-weight: 900;
}
.pricing-rule > span {
  font-size: 32px;
  flex: 30%;
}
.pricing-rule .rule-cardlist {
  flex: 70%;
}
.pricing-rule .rule-cardlist .rule-card {
  border-bottom: 1px solid #525252;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.pricing-rule .rule-cardlist .rule-card span {
  font-size: 48px;
  margin-bottom: 24px;
}
.pricing-rule .rule-cardlist .rule-card p {
  font-size: 32px;
}
@media (max-width: 425px) {
  .pricing-rule {
    display: block;
    margin-bottom: 120px;
  }
  .pricing-rule > span {
    font-size: 20px;
    margin-bottom: 48px;
  }
  .pricing-rule .rule-cardlist .rule-card {
    margin-bottom: 24px;
  }
  .pricing-rule .rule-cardlist .rule-card span {
    font-size: 32px;
  }
  .pricing-rule .rule-cardlist .rule-card p {
    font-size: 16px;
  }
}

.question-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 160px 0px;
}
.question-section > span {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.2;
  flex: 30%;
}
.question-section .question-cardlist {
  flex: 70%;
}
@media (max-width: 425px) {
  .question-section {
    display: block;
    padding: 120px 0px;
  }
  .question-section > span {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.question-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 45px;
  border: 1px solid #525252;
  border-radius: 16px;
  margin-bottom: 16px;
}
.question-card:hover, .question-card.active {
  border-color: #ffffff;
}
.question-card:last-child {
  margin-bottom: 0;
}
.question-card .icon {
  margin-right: 25px;
}
.question-card .icon span {
  cursor: pointer;
  display: none;
}
.question-card .icon span.active {
  display: block;
}
.question-card .content .question {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
}
.question-card .answer {
  height: 0px;
  overflow: hidden;
}
.question-card .answer.active {
  padding-top: 16px;
  height: unset;
}
@media (max-width: 425px) {
  .question-card {
    padding: 20px;
  }
}/*# sourceMappingURL=all.css.map */